* {
    box-sizing: border-box;
    font-family: poppins;
  }

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

.main-wrapper{
    padding: 30px 0;
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1048%26quot%3b)' fill='none'%3e%3crect width='1440' height='1000' x='0' y='0' fill='rgba(143%2c 88%2c 58%2c 1)'%3e%3c/rect%3e%3cpath d='M-193.16 59.82 a252.98 252.98 0 1 0 505.96 0 a252.98 252.98 0 1 0 -505.96 0z' fill='rgba(255%2c 227%2c 227%2c 0.38)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-139.99 6.66 a146.65 146.65 0 1 0 293.3 0 a146.65 146.65 0 1 0 -293.3 0z' fill='rgba(255%2c 227%2c 227%2c 0.38)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M40.906%2c131.672C74.604%2c131.559%2c108.779%2c119.002%2c125.358%2c89.664C141.719%2c60.711%2c134.795%2c25.069%2c117.034%2c-3.047C100.538%2c-29.161%2c71.779%2c-43.074%2c40.906%2c-44.024C8.037%2c-45.036%2c-26.142%2c-35.741%2c-43.797%2c-7.997C-62.639%2c21.611%2c-62.728%2c60.224%2c-44.53%2c90.232C-26.939%2c119.239%2c6.982%2c131.785%2c40.906%2c131.672' fill='rgba(255%2c 227%2c 227%2c 0.38)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1020.03 86.64 a306.61 306.61 0 1 0 613.22 0 a306.61 306.61 0 1 0 -613.22 0z' fill='rgba(255%2c 227%2c 227%2c 0.38)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1076.07 30.59 a194.52 194.52 0 1 0 389.04 0 a194.52 194.52 0 1 0 -389.04 0z' fill='rgba(255%2c 227%2c 227%2c 0.38)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1078.17 28.51 a190.34 190.34 0 1 0 380.68 0 a190.34 190.34 0 1 0 -380.68 0z' fill='rgba(255%2c 227%2c 227%2c 0.38)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-107.62 774.28 a81.9 81.9 0 1 0 163.8 0 a81.9 81.9 0 1 0 -163.8 0z' fill='rgba(255%2c 227%2c 227%2c 0.38)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M94.942%2c1040.03C149.347%2c1040.668%2c204.141%2c1020.801%2c232.292%2c974.241C261.337%2c926.202%2c261.885%2c863.135%2c229.71%2c817.133C200.967%2c776.037%2c144.938%2c773.934%2c94.942%2c777.864C53.019%2c781.159%2c16.178%2c801.047%2c-7.529%2c835.78C-35.417%2c876.638%2c-59.123%2c926.868%2c-36.94%2c971.084C-13.099%2c1018.606%2c41.779%2c1039.407%2c94.942%2c1040.03' fill='rgba(255%2c 227%2c 227%2c 0.38)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M42.884%2c949.463C77.224%2c947.941%2c97.922%2c914.212%2c112.558%2c883.11C124.726%2c857.253%2c124.973%2c828.458%2c111.745%2c803.127C97.33%2c775.522%2c74.026%2c749.741%2c42.884%2c749.685C11.675%2c749.629%2c-10.748%2c775.883%2c-26.405%2c802.88C-42.132%2c829.996%2c-51.775%2c861.461%2c-38.379%2c889.801C-22.987%2c922.363%2c6.902%2c951.058%2c42.884%2c949.463' fill='rgba(255%2c 227%2c 227%2c 0.38)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1098.84 807.84 a149 149 0 1 0 298 0 a149 149 0 1 0 -298 0z' fill='rgba(255%2c 227%2c 227%2c 0.38)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1329.756%2c1020.129C1379.35%2c1020.07%2c1430.055%2c1004.904%2c1456.148%2c962.729C1483.482%2c918.547%2c1481.841%2c861.935%2c1455.234%2c817.311C1429.246%2c773.726%2c1380.388%2c747.362%2c1329.756%2c750.754C1283.912%2c753.825%2c1253.948%2c792.939%2c1230.37%2c832.375C1205.89%2c873.319%2c1180.52%2c920.871%2c1202.838%2c963.032C1226.099%2c1006.976%2c1280.035%2c1020.189%2c1329.756%2c1020.129' fill='rgba(255%2c 227%2c 227%2c 0.38)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1357.047%2c1065.984C1413.975%2c1065.801%2c1471.445%2c1048.731%2c1502.565%2c1001.062C1536.632%2c948.88%2c1546.308%2c879.682%2c1513.099%2c826.95C1481.472%2c776.73%2c1416.36%2c767.931%2c1357.047%2c769.993C1302.138%2c771.902%2c1248.144%2c790.785%2c1218.717%2c837.182C1187.134%2c886.98%2c1179.39%2c951.539%2c1209.899%2c1002.002C1239.558%2c1051.058%2c1299.722%2c1066.168%2c1357.047%2c1065.984' fill='rgba(255%2c 227%2c 227%2c 0.38)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1048'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.main{
   margin: auto ;
   max-width: 1253px;
   height: 672px;
   background-color: #ffe3e3;
   border-radius: 24px;
   margin-top: 80px;
   margin-bottom: 30px;
}
.container{
 display: flex;
 max-width: 1170px;
 padding: 0 15px;
 margin: 0 auto;
 transition: all 0.5s;
}
.img-wrapper{
    padding-right: 30px;
    margin-left: 75px;
    position: relative;
    width: 306px;
}

.paw{
    width: 205px;
    height: 205px;
    padding-top: 20px;
    transform: rotate(-30deg);
    position: relative;
    bottom: -220px;
}

.img-wrapper-child{
    position: absolute;
    top: 100px;
}
.the-dogo{
    width: 306px;
    height: 494px;
    padding-left: 70px;
}


.icon-item{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: black;
    transition: all 0.5s;
}
.set-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 672px;
    font-size: 24px;
    margin-left: 60px;

}

.pawholder img{
    width: 32px;
    float: left; 
    padding-top: 10px;
}

.main-text{
   padding-left: 20px;
   height: 672px;
   padding: 180px 0 100px 0
}

.text-wrapper{
    margin: 0;
    width: 540px;
    height: auto;

}
.text-wrapper h1{
    font-size: 42px;
}
.left-dikit{
    margin-left: 33px;
}

.span-text{
    color: #ff0000;
}

.btn{
    width: 165px;
    height: 55px;
    opacity: 1;
    transition: all 0.5s;
}

.btn:hover{
    opacity: 0.5;
}

.btn-main{
    background-color: #ad5425;
    border-radius: 50px;
    text-align: center;
    line-height: 55px;
    margin-top: 40px;
    margin-left: 30px;
}

.btn-main a{
    text-decoration: none;
    color: white;
    font-size: 28px;
}

.clear{
    clear: left;
}

.set-icon-bottom{
    display: none;
    margin-top: 50px;
    font-size: 42px;
}

.img-res{
    display: none;
}

.custom-shape-divider-bottom-1679064537 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679064537 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.20px);
    height: 110px;
}

.custom-shape-divider-bottom-1679064537 .shape-fill {
    fill: #FFFFFF;
}