* {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: rgba(255, 227, 227, 0.5);
    box-sizing: border-box;
    padding: 70px 0 0 0;
    margin: auto;
    
}

.container {
    max-width: 1170px;
    margin: auto;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

ul {
    list-style: none;
}

.footer-item {
    width: 17%;
    padding: 0 5px 0 0;
}

.footer-item h3 {
    color: #ff0000;
    font-size: 18px;
    margin-bottom: 12px;
    letter-spacing: 1px;
    text-transform: capitalize;
    position: relative;
    font-weight: normal;
}

.footer-item ul li {
    margin-bottom: 10px;
}

.footer-item ul li a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    cursor: default;
    transition: all 0.3s ease;
}

.footer-item .btn-footer a {
    color: #ffe3e3;
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 10px 10px 0px;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-item .btn-footer a:hover {
    color: white;
    background-color: black;
}

.footer-copyright {
    background-color: rgba(255, 0, 0, 0.5);
    color: #ffe3e3;
    text-align: center;
    width: 100%;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 10px 0;
    margin-top: 60px;
}

.footer-logo{
    width: 20.5%;
}