@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/*START STYLE CSS FOR UNIVERSAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*END STYLE CSS FOR UNIVERSAL */

/*START STYLE CSS FORMULIR */
input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0 30px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
label {
  margin-top: 20px;
}
input[type="checkbox"] {
  margin: 0;
  margin-top: 10px;
}
input[type="submit"] {
  background-color: rgba(255, 124, 116, 1);
  color: white;
  border: none;
  width: 100%;
  font-weight: bold;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.8;
}


.container-form {
  width: 35%;
  padding: 16px;
  margin: 0 auto;
}
.form-logo {
  text-align: center;
}
.form-logo img {
  width: 30%;
}
.form-detail {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 124, 116, 0.3);
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 8px;
}
.form-input label {
  font-weight: bold;
}

.form-input input{
  border-radius: 12px;
}

.login-log {
  text-align: center;
  margin-top: 30px;
}

.claw{
  color: #ad5435;
}

.mi{
  color: #ff0000;
}

.button-form{
  padding-top: 40px;
}

.submit{
  width: 140px;
  margin: auto;
}

.padding-top-sm{
  padding-top: 30px;
}
/*END STYLE CSS FORMULIR */

/* START RESPONSIVE STYLE CSS FORMULIR */

/*untuk layar device berukuran besar*/
@media all and (max-width: 1000px) {
  .container-form {
    width: 50%;
  }
}

/*untuk layar device berukuran sedang*/
@media all and (max-width: 670px) {
  .container-form {
    width: 80%;
  }
}

/*untuk layar device berukuran kecil*/
@media all and (max-width: 450px) {
  .container-form {
    width: 100%;
  }
}
/* END RESPONSIVE STYLE CSS FORMULIR */
