/* Untuk Tablet */
@media only screen and (max-width: 1000px){
  .header-right a{
    font-size: 14px;
    padding: 10px;
  }

  .link:hover {
    color: #000000 ;
    padding-top: 30px;
    padding: 0 20px;
    opacity: 0.3px;
    font-size: 14px;
    text-decoration: underline #da4525;
    transition: 0.5s ease;
    opacity: 1;
}

  .container-header span{
    font-size: 32px;
  }

  .btn-cart img{
    width: auto;
    padding-left: 20px;
  }

  .header-right{
    margin-right: 10px;
  }

  .link{
    line-height: 45px;
  }
}
  /* Untuk Smartphone */
  @media only screen and (max-width: 670px) {
    .header-right{
      display:none;
    }
    .menu-icon{
      color: #ad5425;
      font-size: 32px;
      line-height: 30px;
    }

  }